* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}
.pad {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 640px;
    width: 640px;
    background-color: white;
    overflow: hidden;
}
.grid-container {
    display: grid;
    /* grid-template-columns: repeat(64, 10px); 
    grid-template-rows: repeat(64, 10px); */
}
.grid-item {
    box-sizing: border-box;
    background-color: blue;
    border: 1px solid white;    
}

